:root {
	font: 14px / 1 'Roboto', sans-serif;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-flow: column;
	margin: 0;
	min-height: 100%;
}
h2 {
	margin: 70px 0px 25px 0px;
}
/*-----------------First Section--------------------*/
.firstSection {
	display: flex;
	flex-flow: column wrap;
	background: no-repeat url('/images/space.png');
	background-size: cover;
}
/*--------------------------------------------------*/
/*--------------------Second Section----------------*/
.secondSection {
	display: flex;
	flex-flow: column wrap;
	background: rgb(3, 16, 25);
}
/*--------------------------------------------------*/
/* ---------------First SubSection----------------- */
.firstSubSection {
	display: flex;
	flex-flow: row wrap;
	justify-content: baseline;
	margin: 0;
}
/* ------------------------------------------------ */
/*----------------Second SubSection-----------------*/
.secondSubSection {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	background: rgba(0, 0, 0, 0.5);
	padding: 1rem;
	/*------------------------------------------------*/
}
.firstArticle {
	background: no-repeat url(/images/react.png);
	background-size: cover;
	margin: 20px 20px 10px 20px;
	border-radius: 10px;
}

.secondArticle {
	background: no-repeat url(/images/code.png);
	background-size: cover;
	margin: 10px 20px 20px 20px;
	border-radius: 10px;
}
.firstParagraph {
	background: white;
	text-align: justify;
	padding: 1rem;
	margin: 50px 0px 0px 0px;
}

.secondParagraph {
	background: white;
	text-align: justify;
	padding: 1rem;
	margin: 50px 0px 0px 0px;
}

.myFooter {
	background: rgb(3, 16, 25);
	color: white;
	text-align: center;
}
.myFooterImages {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
}
/*---------------My Twitter Images --------------*/
#t1 {
	margin: 0px 10px 70px 0px;
	border-radius: 100px;
	width: 5rem;
	height: 5rem;
}
#t2 {
	margin: 0px 10px 70px 0px;
	border-radius: 100px;
	width: 5rem;
	height: 5rem;
}
#t3 {
	margin: 0px 10px 70px 0px;
	border-radius: 100px;
	width: 5rem;
	height: 5rem;
}
#t4 {
	margin: 0px 10px 70px 0px;
	border-radius: 100px;
	width: 5rem;
	height: 5rem;
}
#t5 {
	margin: 0px 10px 70px 0px;
	border-radius: 100px;
	width: 5rem;
	height: 5rem;
}
/*------------------------------------------------*/
/* -----------My Paragraph Footer-----------------*/
.myParagraphFooter {
	font-size: 0.9rem;
}
/*------------------------------------------------*/
/*-------------My Name Title----------------------*/
#myName {
	font-size: 2rem;
}
/*------------------------------------------------*/
.myPhoto {
	margin: 100px 5px 100px 100px;
}
/*-------------My Dialog Box----------------------*/
.myDialog {
	margin: 80px 0px 230px 5px;
	background: white;
	border-radius: 5px;
	padding: 1rem;
	font-size: 1rem;
}
/*------------------------------------------------*/
/*--------------My Triangle Position--------------*/
.triangle {
	height: 0;
	width: 0;
	border: 15px solid transparent;
	border-top-color: white;
	float: right;
	position: relative;
	right: 380px;
	top: 150px;
	border-bottom: 0px;
	transform: rotate(130deg);
}

.triangleSection {
	display: flex;
}
/*------------------------------------------------*/
.articleTitles {
	font-size: 1.2rem;
}

/*----------------My Body Wrap 100%--------------*/
.wrapper {
	display: flex;
	flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
	flex: 1 100%;
}
/*------------------------------------------------*/
/*----------------Float Boxes--------------------*/
#myFirstBox {
	background-color: rgb(20, 131, 210);
	position: relative;
	color: white;
	top: 15px;
	left: 155px;
	padding: 0.7rem;
	border-radius: 0.6rem;
	text-decoration: none;
}
#mySecondBox {
	background-color: rgb(20, 131, 210);
	position: relative;
	color: white;
	top: 15px;
	left: 150px;
	padding: 0.7rem;
	border-radius: 0.6rem;
	text-decoration: none;
}
/*------------------------------------------------*/
/* ------------------Mobil Screen-----------------*/
@media (max-width: 600px) {
	#t1 {
		width: 2rem;
		height: 2rem;
	}
	#t2 {
		width: 2rem;
		height: 2rem;
	}
	#t3 {
		width: 2rem;
		height: 2rem;
	}
	#t4 {
		width: 2rem;
		height: 2rem;
	}
	#t5 {
		width: 2rem;
		height: 2rem;
	}

	.triangle {
		display: none;
	}
	.firstSubSection {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
	}

	.triangleSection {
		display: flex;
		justify-content: flex-start;
	}

	.myDialog {
		margin: 0.5rem;
	}

	.myPhoto {
		margin: 0.5rem;
		width: 12rem;
	}

	/*----------------Float Boxes--------------------*/
	#myFirstBox {
		background-color: rgb(20, 131, 210);
		position: relative;
		color: white;
		top: 15px;
		left: 40px;
		padding: 0.7rem;
		border-radius: 0.6rem;
		text-decoration: none;
	}
	#mySecondBox {
		background-color: rgb(20, 131, 210);
		position: relative;
		color: white;
		top: 15px;
		left: 55px;
		padding: 0.7rem;
		border-radius: 0.6rem;
		text-decoration: none;
	}
	/*------------------------------------------------*/
	.myParagraphFooter {
		font-size: 0.6rem;
	}
}
/*------------------------------------------------*/
