:root {
	font: 16px / 1 'Roboto', sans-serif;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-flow: column;
	margin: 0;
	min-height: 100%;
}
h2 {
	margin: 70px 0px 25px 0px;
}
/*-----------------First Section--------------------*/
.firstSection {
	display: flex;
	flex-flow: column wrap;

	background: no-repeat url('/images/space.png');
	background-size: cover;
}
/*--------------------------------------------------*/
/*--------------------Second Section-----------------*/
.secondSection {
	display: flex;
	flex-flow: column wrap;
	background: rgb(3, 16, 25);
}
/*--------------------------------------------------*/
.firstSubSection {
	background: aqua;
	margin: 0;
}
/*----------------Second SubSection-----------------*/
.secondSubSection {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	background: rgba(0, 0, 0, 0.5);
	padding: 1rem;
	/*------------------------------------------------*/
}
.firstArticle {
	background: no-repeat url(/images/react.png);
	background-size: cover;
	margin: 20px 20px 10px 20px;
	border-radius: 10px;
}

.secondArticle {
	background: no-repeat url(/images/code.png);
	background-size: cover;
	margin: 10px 20px 20px 20px;
	border-radius: 10px;
}
.firstParagraph {
	background: white;
	text-align: justify;
	padding: 1rem;
	margin: 50px 0px 0px 0px;
}

.secondParagraph {
	background: white;
	text-align: justify;
	padding: 1rem;
	margin: 50px 0px 0px 0px;
}

.myFooter {
	background: rgb(3, 16, 25);
	color: white;
	text-align: center;
}
.myFooterImages {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
}
/* My Twitter Images */
#t1 {
	margin: 0px 10px 70px 0px;
	border-radius: 100px;
}
#t2 {
	margin: 0px 10px 70px 0px;
	border-radius: 100px;
}
#t3 {
	margin: 0px 10px 70px 0px;
	border-radius: 100px;
}
#t4 {
	margin: 0px 10px 70px 0px;
	border-radius: 100px;
}
#t5 {
	margin: 0px 10px 70px 0px;
	border-radius: 100px;
}
/* ----------------- */
.myParagrphFooter {
	font-size: 0.7rem;
}
